.containerLeft{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 5rem;
    margin-left: auto;
    position: relative;
}
.containerLeft::before{
    content: '';
    height: 50%;
    width: 30px;
    border: 1px solid white;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    position: absolute;
    margin: auto;
    left: 0;
    top: -1%;
    z-index: -1;
}
.containerLeft::after{
    content: '';
    height: 50%;
    width: 30px;
    border: 1px solid white;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 1rem;
    position: absolute;
    margin: auto;
    left: -30px;
    bottom: 0;
    z-index: -1;
}
.containerLeft div{
    border: 1px solid green;
    border-radius: .5rem;
    width: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: border .5s;
}
.containerLeft div:hover{
    border: 1px solid lime;
    transition: border .5s;
}
.containerLeft div:hover + hr{
    border: 1px dashed var(--orangeColor);
    transition: .3s;
}
.containerLeft div a{
    color: white;
    text-decoration: none;
    transition: .2s;
}
.containerLeft div a:hover{
    padding-left: .5rem;
    color: var(--orangeColor);
    transition: .2s;
}
.containerLeft hr{
    width: 100%;
    border: 1px dashed white;
    transition: .3s;
}
.containerLeft span{
    border: 1px solid white;
    border-radius: .5rem;
    height: fit-content;
    padding: .5rem;
    width: fit-content;
    white-space: nowrap;
    z-index: 1;
    background-color: black;
}
.containerLeft .noText{
    padding: .5rem;
    border-radius: 50%;
}

@media screen and (max-width:1125px){
    .containerLeft{
        width: 50%;
        padding-right: 1rem;
        font-size: .9rem;
    }
}

@media screen and (max-width:650px){
    .containerLeft{
        padding: 0;
        flex-direction: column-reverse;
        width: 100%;
        gap: 1rem;
        position: relative;
    }
    .containerLeft::before{
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
        margin: auto;
        z-index: -1;
        width: 0;
        height: 30%;
    }
    .containerLeft::after{
        content: '';
        width: 1px;
        height: 30%;
        position: absolute;
        top: -115%;
        right: 0;
        left: 0;
    }
    .containerLeft div:hover + hr{
        border:0;
        transition: 0s;
    }
    .containerLeft hr{
        width: 0;
        border: none;
    }
    .containerLeft div{
        width: 90%;
        align-items: center;
        gap: 1rem;
        z-index: 1;
        background-color: black;
    }
  
}

