.techStack{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}
h1,h2{
    text-align: center;
    margin-top: 2rem;
}
.staticSection{
    
    width: 90%;
    margin:1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1rem;
    flex-wrap: wrap;

}
.stackContainer{
    border: 2px solid white;
    border-radius: .5rem;
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;   
    background-color: white;
}
.stackContainer img{
    width: 5rem;
}
.stackContainer span{
    color: black;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.eCommerceContainer{
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}   
.eCommerceContainer img{
    width: 7rem;
}
